* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body {
    display: grid;
    grid-template-rows: 20vh 70vh 10vh;
}

/*----------Header----------*/
header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(243, 235, 235);
}

header h1 {
    padding: 7vh 0 0 5vw;
}

nav {
    text-align: end;
    padding: 10vh 5vw 0 0;
}

nav p {
    display: inline;
    margin-left: 1vw;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(14, 12, 12);
}

/*----------Main----------*/
main {
    padding: 7vh 5vw 3vh 5vw;
}

main h1 {
    font-weight: 400;
}

main p {
    padding: 1vh 0 0 0.5vw;
}

/*----------Footer----------*/
footer {
    text-align: center;
}

/*-----------------------Compose*---------------------*/
form {
    margin-top: 2vh;
}

form input {
    width: 90vw;
    height: 6vh;
    font-size: 1.4em;
}

form textarea {
    width: 90vw;
    height: 20vh;
    font-size: 1.3em;
}

form button {
    width: 7vw;
    height: 6vh;
    border-radius: 5px;
    background-color: rgb(62, 62, 226);
    color: #fff;
    border: none;
    font-size: 0.9em;
    outline: none;
}

form input, form textarea {
    border: 2px solid rgb(230, 221, 221);
    border-radius: 5px;
    margin: 1vh 0 1vh 0;
    outline: none;
    padding: 5px;
}

form label {
    font-size: 1.2em;
}